<div class="col-md-12">


  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-V/FCTlHFdtDq3w/3iLmSctPU8mVKchEzvTnTmZC9NSHzjcWcgrn+GhIOkTFyOhQ2V7W/g0GDeIMzbz0fQoPUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="card card-container">
   
      
    <img [src]="imageUrl" alt="CNI" width="50px" class="profile-img-card"/>

    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
      <div class="form-group">
        
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors?.['required']">Username is required</div> ['required']

          <div *ngIf="username.errors?.['minlength']">Username must be at least 3 characters</div>

           
          <div *ngIf="username.errors?.['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
      
       
      <div class="form-group">
        <input
          type="password"
          id="password-field"
          class="form-control"
          name="password"
          placeholder="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          />
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <input
      type="email"
      class="form-control"
      placeholder="Email"
      name="email"
      [(ngModel)]="form.email"
      required
      email
      #email="ngModel"
    />
    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
      <div *ngIf="email.errors?.['required']">Email is required</div>
      <div *ngIf="email.errors?.['email']">
        Email must be a valid email address
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn my-3 float-end" >
      <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
        </svg>
      </div>
    </button>
    
    <button class="btn" >
      <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
        </svg>
      </div>
    </button>
  </div>
    <button class="btn btn-outline-primary btn-block">
      enregistrer
    </button>
    <button class="btn btn-outline-primary btn-block">
mise a jour     </button>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>

  </div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v2b4487d741ca48dcbadcaf954e159fc61680799950996" integrity="sha512-D/jdE0CypeVxFadTejKGTzmwyV10c1pxZk/AqjJuZbaJwGMyNHY3q/mTPWqMUnFACfCTunhZUVcd4cV78dK1pQ==" data-cf-beacon='{"rayId":"7b5fa0657d1b0fee","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.3.0","si":100}' crossorigin="anonymous"></script>