<!--<table class="table mt-5">
    <thead class="table-danger">
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">code</th>
        <th scope="col">libelle</th>
        <th scope="col">action1</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of Ids; index as i">
        <th scope="row"></th>
        <td>{{i+1}}</td>
        <td>{{app.code}}</td>
        <td>{{app.libelle}}</td>
        <td>
          <button class="btn btn-outline-danger mx-3" (click)="onDelete(app.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>-->



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
  <form class="login" name="form"(ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate (submit)="onAppCreate()">
    <div  class="login__field">  

      <input type="text" class="login__input" name="code" placeholder="code" [(ngModel)]="form.code" required #code="ngModel">
      <div class="error-message" *ngIf="code.errors && f.submitted"> <i class="fa fa-exclamation-circle"></i> Ce champ doit être rempli </div>  
    </div>
         
        <div  class="login__field">     
          <input type="text" class="login__input" name="libellé" placeholder="libellé" [(ngModel)]="form.libelle" required #libellé="ngModel">
          <div class="error-message" *ngIf="libelle.errors && f.submitted"> <i class="fa fa-exclamation-circle"></i> Ce champ doit être rempli </div>  
        </div>
        <div  class="login__field">     
          <input type="text" class="login__input" name="Prix unitaire" placeholder="Prix Unitaire" [(ngModel)]="form.prixunitaire" required #prixunitaire="ngModel">
          <div class="error-message" *ngIf="prixunitaire.errors && f.submitted"> <i class="fa fa-exclamation-circle"></i> Ce champ doit être rempli </div>  
        </div>
            
          <div class="form-group">
            <button  type="submit"  class="btn btn-outline-success btn-block mt-5" value="ajouter App">Ajouter Application</button>
          </div>
       
  </form> 
  
