<div id="app">
  <nav class="navbar navbar-expand navbar-outline-info bg-info">
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home"><strong>Home</strong> </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin"><strong >Admin Board</strong></a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
      <a   active [routerLink]= "['/application']" class="nav-link"><strong>Application</strong></a>
      </li>
      
  <li class="nav-item" *ngIf="isLoggedIn && !showAdminBoard">

        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"><strong>User</strong></a>
      </li>
    
</ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
     
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"><strong>Login</strong></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"><strong>{{ username }}</strong></a>
        
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()"><strong>LogOut</strong></a>
      </li>
    </ul>
    
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
   
  </div>
</div>
