
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
 

   <input type="checkbox" id="check">
   <label for="check">
     <i class="fas fa-bars" id="btn"></i>
     <i class="fas fa-times" id="cancel"></i>
   </label>
   <div class="sidebar">
     <header>Menu</header>
   
     <a href="/home">
       <i class="fas fa-link" routerLink="home"></i>
       <span>Home</span>
     </a>
     
     <a href="/admin">
       <i class="fas fa-stream" routerLink="admin"></i>
       <span>Admin Board</span>
     </a>
     
     <li class="nav-item" *ngIf="showAdminBoard"></li>
     <a href="/application">
        <i class="fas fa-calendar"></i>
       <span>Application</span>
     </a>

     <a href="#">
       <i class="far fa-question-circle"></i>
       <span>structure</span>
     </a>
   </div>
   <div class="container">
    <router-outlet></router-outlet>
   
  </div>
   
 
   

