<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="sect1">
<div class="container">
	<div class="screen">
    <div class="screen__content">
     
      <form class="login" *ngIf="!isLoggedIn" name="form"(ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        
        <div  class="login__field">
          <input type="text" class="login__input" name="username" placeholder="Nom d'utilisateur" [(ngModel)]="form.username" required #username="ngModel">
          <div class="error-message" *ngIf="username.errors && f.submitted"> <i class="fa fa-exclamation-circle"></i> Ce champ doit être rempli </div>  
        </div>
				 
      <div class="login__field">
        <input
          type="password"
          class="login__input"
          name="password"
          placeholder="Mot de passe"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"/>
          <div class="error-message" *ngIf="password.errors && f.submitted">
            <div style="display: flex;">
              <i class="fa fa-exclamation-circle" style="margin-right: 5px;"></i>
              <div *ngIf="password.errors['required']">Le mot de passe est requis</div>
              <div *ngIf="password.errors['minlength']">Mot de passe incorrect </div>
            </div>
          </div>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary btn-block">Connexion</button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="error-message">Login failed: {{ errorMessage }}</div>
      </div>
    </form>
    
    <p *ngIf="isLoggedIn" class="browser-message" (click)="logToConsole()">
      
    </p>
  </div>
  <div class="screen__background">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>		
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>		
</div>
</div>
</div>